<style>
    .margin-top-20px{
        margin-top: 20px;
    }
    .margin-top-10px{
        margin-top: 10px;
    }
    #due_date-error,#start_date-error{
        opacity: 10;
    }
    .dropdown-header {
        font-weight: 600;
        font-size: 14px;
    }
    .opt.dis {
        display: none;
    }

    .form-group.form-md-line-input .help-block
    {
        opacity: 10 !important;
    }

    .white-font
    {
        color: white !important;
    }
</style>



<%- include header %>

<section class="portlet light bordered">
    <!-- Input -->
    <% var messages = getMessages() %>
    <% if(messages.notify) { %>
    <div id="prefix_1179310738153" class="custom-alerts alert alert-success fade in"><button type="button" class="close" data-dismiss="alert" aria-hidden="true"></button><i class="fa-lg fa fa-info"></i>
        <%= messages.notify%>
    </div>
    <% } %>
    <% if(messages.error) { %>
    <div id="prefix_1179310738153" class="custom-alerts alert alert-danger fade in"><button type="button" class="close" data-dismiss="alert" aria-hidden="true"></button><i class="fa-lg fa fa-warning"></i>
        <%= messages.error%>
    </div>
    <% } %>

    <div class="portlet-title">
        <div class="caption caption-subject"> <i class="icon-bubble font-dark hide"></i>UPDATE USER  :   <span class="caption-subject font-hide bold uppercase"></span> </div>
    </div>
    <div class="portlet-body">
        <div class="row">
            <!-- Default form -->
            <!--<form id="validate" name="addTask" action="/updateGym" method="post" enctype="multipart/form-data">-->
            <form  class="login-form" name="updateuser" method="post" action="/adminUpdateUser" enctype="multipart/form-data">
                <div class="widget">
                    <div class="">
                        <div class="form-group form-md-line-input  col-md-4 margin-bottom-10">
                            <label class="control-label"><b>FirstName</b><span class="text-error">* &nbsp;</span></label>
                            <div class="controls">
                                <input type="text" class="form-control" name="firstname" id="firstname" placeholder="Enter firstname" value="<%= user.firstname%>"/>
                                <span id="projectNameErr"></span>
                            </div>
                        </div>

                        <div class="form-group form-md-line-input  col-md-4 margin-bottom-10">
                            <label class="control-label"><b>LastName</b><span class="text-error">* &nbsp;</span></label>
                            <div class="controls">
                                <input type="text" class="form-control" name="lastname" id="lastname" placeholder="Enter lastname" value="<%= user.lastname%>"/>
                                <span id="projectNameErr"></span>
                            </div>
                        </div>

                        <div class="form-group form-md-line-input  col-md-4 margin-bottom-10">
                            <label class="control-label"><b>Profile Image</b><span class="text-error">* &nbsp;</span></label>
                            <div class="controls">
                                <input class="input-group form-control form-control-inline" type="file" value="" name="image" id="image"/>
                                <span id="projectNameErr"></span>
                            </div>
                        </div>

                        <div class="col-md-12">
                            <div class="row">
                                <div class="form-group form-md-line-input  col-md-6 margin-bottom-10">
                                    <label class="control-label"><b>BirthDate</b><span class="text-error">* &nbsp;</span></label>
                                    <div class="controls">
                                        <input type="date" class="form-control" name="birthdate" id="birthdate" placeholder="Enter birthdate" value="<%= user.birthdate%>" min='1918-01-01' max='2018-01-01'/>
                                        <span id="projectNameErr"></span>
                                    </div>
                                </div>

                                <div class="form-group form-md-line-input  col-md-6 margin-bottom-10">
                                    <label class="control-label"><b>State</b><span class="text-error">* &nbsp;</span></label>
                                    <div class="controls">

                                        <select class="form-control edited bs-select" data-live-search="true" id="state" name="state">

                                            <% states.forEach(function(state){ %>
                                                <option value="<%= state%>"<% if(state == user.state){ %> selected <% } %> >
                                                    <%= state%>
                                                </option>
                                            <% }) %>

                                        </select>

                                    </div>
                                </div>

                                <div class="form-group form-md-line-input  col-md-6 margin-bottom-10">
                                    <label class="control-label"><b>City</b><span class="text-error">* &nbsp;</span></label>
                                    <div class="controls">
                                        <input type="text" class="form-control" name="city" id="city" placeholder="Enter city" value="<%= user.city%>"/>
                                        <span id="projectNameErr"></span>
                                    </div>
                                </div>

                                <div class="form-group form-md-line-input  col-md-6 margin-bottom-10">

                                <label class="control-label"><b>Gender</b><span class="text-error">* &nbsp;</span></label>
                                <div class="controls mt-radio-inline">
                                    <label class="mt-radio">
                                        <input type="radio" name="gender" id="gender" value="male" <% if(user.gender == 'male'){%> checked <%}%> > Male
                                        <span></span>
                                    </label>
                                    <label class="mt-radio">
                                        <input type="radio" name="gender" id="gender" value="female" <% if(user.gender == 'female'){%> checked <%}%>  > Female
                                        <span></span>
                                    </label>
                                </div>
                                </div>
                                <!--<div class="form-group form-md-line-input  col-md-3 margin-bottom-10">-->
                                    <!--<label class="control-label"><b>Coins</b><span class="text-error">* &nbsp;</span></label>-->
                                    <!--<div class="controls"><input type="text" class="form-control" name="coins" id="coins" placeholder="Enter coins" value=" coins  "/><span id="costErr"></span></div>-->
                                <!--</div>-->


                            </div>
                        </div>




                        <div class="col-md-12 text-right" style="margin-top:30px;">

                            <!--<input type="hidden" class="form-control" id="city" name="city" placeholder="" value="Ahmedabad">-->
                            <!--<input type="hidden" class="form-control" id="latitude" name="latitude" placeholder="" value="23.0536039">-->
                            <!--<input type="hidden" class="form-control" id="longitude" name="longitude" placeholder="" value="72.51951220000001">-->
                            <!--<input type="hidden" class="form-control" id="zipcode" name="zipcode" placeholder="" value="380054">-->

                            <input type="hidden" class="form-control" id="userId" name="userId" placeholder="" value="<%= user.id%>">
                            <input type="hidden" class="form-control" id="maxImageSize" name="maxImageSize" placeholder="" value="<%= maxImageSize%>">
                            <input type="hidden" id="email" name="email" value="<%= user.email%>">

                            <a class="" style="margin-top:5px;" title="Save" type="submit">
                                <button type="submit" class="btn m-b-xs w-xs btn-primary waves-effect">
                                    Save
                                </button>
                            </a>
                            <a href="/manageUsers" class="btn m-b-xs w-xs btn-danger waves-effect sort" lang="">
                                Cancel
                            </a>
                        </div>
                    </div>

                </div>
            </form>
            <!-- /default form -->
        </div>

    </div>
</section>

<%- include leftPanel %>


<script>

    $(document).ready(function()
    {

        var i=0;
        jQuery("input,textarea").on('keypress',function(e){
            //alert();
            if(jQuery(this).val().length < 1){
                if(e.which == 32){
                    //alert(e.which);
                    return false;
                }
            }
            else {
                if(e.which == 32){
                    if(i != 0){
                        return false;
                    }
                    i++;
                }
                else{
                    i=0;
                }
            }
        });

        jQuery.validator.addMethod("acceptImageTypes", function (value, element) {
            //return this.optional(element) || (parseFloat(value) <= 12);
            var ext = $('#image').val().split('.').pop().toLowerCase();
            if(ext)
            {
                if($.inArray(ext, ['gif','png','jpg','jpeg']) === -1) {
                    return false;
                }
                else{
                    return true;
                }
            }
            else{
                return true;
            }
        },"Selected File must be an image");

        var maxImageSizeVal = $('#maxImageSize').val();

        console.log("maxImageSizeVal update user(admin): "+maxImageSizeVal);

        $.validator.addMethod(
            "maxfilesize",
            function (value, element) {
                if (this.optional(element) || ! element.files || ! element.files[0]) {
                    return true;
                } else {
                    return element.files[0].size <= 1024 * 1024 * 2;
                }
            },
            'The file size can not exceed '+maxImageSizeVal+'MB.'
        );

        $("form[name = 'updateuser']").validate({
            errorElement: 'span', //default input error message container
            errorClass: 'help-block', // default input error message class
            focusInvalid: false, // do not focus the last invalid input
            rules: {
                firstname : {
                    required: true
                },
                lastname : {
                    required: true
                },
                email : {
                    required: true
                },
                birthdate : {
                    required : true
                },
                state : {
                    required: true
                },
                city : {
                    required: true
                },
                image : {
                    acceptImageTypes : true,
                    maxfilesize : true
                }
            },
            messages: {
                firstname : {
                    required: "Please enter first name"
                },
                lastname : {
                    required: "Please enter last name"
                },
                email : {
                    required: "Please enter email"
                },
                birthdate : {
                    required : "Please select birthdate"
                },
                state : {
                    required: "Please enter state"
                },
                city : {
                    required: "Please enter city"
                }
            },
            invalidHandler: function (event, validator) { //display error alert on form submit
                $('.alert-danger', $('.form-horizontal')).show();
            },
            highlight: function (element) { // hightlight error inputs
                $(element).closest('.form-group').addClass('has-error'); // set error class to the control group
            },
            onfocusout: function (element) {
                $(element).valid();
            },
            success: function (label) {
                label.closest('.form-group').removeClass('has-error');
                label.remove();
            },
            errorPlacement: function (error, element) {
                error.insertAfter(element.closest('.form-control'));
            },
            submitHandler: function (form) {
                // alert("true");
                form.submit();
            }
        });

    });


</script>


<script>
    var placeSearch, autocomplete;

    function initAutocomplete() {
        // Create the autocomplete object, restricting the search to geographical
        // location types.
        autocomplete = new google.maps.places.Autocomplete(
            /** @type {!HTMLInputElement} */(document.getElementById('address')),
            {types: ['geocode']});

        // When the user selects an address from the dropdown, populate the address
        // fields in the form.
        autocomplete.addListener('place_changed', fillInAddress);
    }

    function fillInAddress() {
        // Get the place details from the autocomplete object.
        var place = autocomplete.getPlace();

        var area, city, zipcode;
        $.each(place, function(k1,v1) {
            if (k1 == "address_components") {
                for (var i = 0; i < v1.length; i++) {
                    for (k2 in v1[i]) {
                        if (k2 == "types") {
                            var types = v1[i][k2];
                            if (types[0] =="sublocality_level_1") {
                                area = v1[i].long_name;
                                //alert ("area: " + area);
                            }
                            if (types[0] =="locality") {
                                city = v1[i].long_name;
                                //alert ("city: " + city);
                            }
                            if (types[0] =="postal_code") {
                                zipcode = v1[i].short_name;
                                //alert ("zipcode: " + zipcode);
                            }
                        }
                    }
                }
            }
        });



        $('#city').val(city);
        $('#zipcode').val(zipcode);
        $('#latitude').val(place.geometry.location.lat());
        $('#longitude').val(place.geometry.location.lng());

    }


</script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDP76rTZusQqYFwVBTwkw_1fB1_a-IJJvs&libraries=places&callback=initAutocomplete" async defer></script>